:80 {
  handle /financetracker/api* {
    uri strip_prefix /financetracker
    reverse_proxy financetracker-api:8080
  }
  handle /financetracker* {
    uri strip_prefix /financetracker
    reverse_proxy financetracker-web:5173
  }
}