:80 {
  handle_path /financetracker/api* {
    reverse_proxy financetracker-api:8080
  }
  handle_path /financetracker/* {
    reverse_proxy financetracker-web:5173 {
      header_up Host {upstream_hostport}
    }
  }
  respond "Not found" 404
}